### Importing libraries (pandas and numpy) and load dataset

In [1061]:
import pandas as pd
import numpy as np
df = pd.read_excel('IMDB.xlsx')
df

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10 00:00:00,Drama,142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23 00:00:00,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,1005455211,2.241.615,9
3,tt0071562,The Godfather: Part II,1975-09-25 00:00:00,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28 00:00:00,"Crime, Drama",,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21 00:00:00,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18 00:00:00,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20 00:00:00,Western,132,Italy,NaN,Sergio Leone,15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21 00:00:00,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05 00:00:00,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,1864182,213.152,7.4

### Remove duplicate rows and strip whitespace from column names

In [1062]:
df.drop_duplicates()
df.columns = df.columns.str.strip()

### Replace spaces in column names with underscores to make them code-friendly

In [1063]:
df.columns = df.columns.str.replace(' ', '_')

### Capitalize column names and fix specific typos/special characters in 'Original_titlê' and 'Genrë¨' column names

In [1064]:
df.columns = df.columns.str.capitalize()
df.columns = [col.replace('ê','e').replace('ë', 'e').replace('¨','') if col in ['Original_titlê', 'Genrë¨'] else col for col in df.columns]
df.head(16)

,Imbd_title_id,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10 00:00:00,Drama,142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23 00:00:00,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,1005455211,2.241.615,9
3,tt0071562,The Godfather: Part II,1975-09-25 00:00:00,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28 00:00:00,"Crime, Drama",,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"
5,tt0167260,The Lord of the Rings: The Return of the King,2004-02-22 00:00:00,"Action, Adventure, Drama",201,New Zealand,PG-13,Peter Jackson,1142271098,1.604.280,8.9
6,tt0108052,Schindler's List,1994-03-11 00:00:00,"Biography, Drama, History",Nan,USA,R,Steven Spielberg,322287794,1.183.248,8.9
7,tt0050083,12 Angry Men,1957-09-04 00:00:00,"Crime, Drama",96,USA,Not Rated,Sidney Lumet,576,668.473,8.9
8,tt1375666,Inception,2010-09-24 00:00:00,"Action, Adventure, Sci-Fi",148,USA,PG-13,Christopher Nolan,869784991,2.002.816,8..8
9,tt0137523,Fight Club,1999-10-29 00:00:00,Drama,Inf,UK,R,David Fincher,101218804,1.807.440,8.8
10,tt0109830,Forrest Gump,1994-10-06 00:00:00,"Drama, Romance",142,USA,PG-13,Robert Zemeckis,678229452,1.755.490,08:08:00
11,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2002-01-18 00:00:00,"Action, Adventure, Drama",178c,New Zesland,PG-13,Peter Jackson,887934303,1.619.920,8.8
12,tt0060196,"Il buono, il brutto, il cattivo",23rd December of 1966,Western,161,Italy,Approved,Sergio Leone,25252481,672.499,8.8
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,tt0133093,The Matrix,1999-05-07 00:00:00,"Action, Sci-Fi",NaN,USA,R,"Lana Wachowski, Lilly Wachowski",465718588,1.632.315,8.7
15,tt0167261,The Lord of the Rings: The Two Towers,2003-01-16 00:00:00,"Action, Adventure, Drama",179,New Zeland,PG-13,Peter Jackson,951227416,1.449.778,8.7.

### Drop rows where all column values are missing (completely empty rows)

In [1065]:
df.dropna(how='all', inplace=True)
df

,Imbd_title_id,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10 00:00:00,Drama,142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23 00:00:00,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,1005455211,2.241.615,9
3,tt0071562,The Godfather: Part II,1975-09-25 00:00:00,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28 00:00:00,"Crime, Drama",,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21 00:00:00,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18 00:00:00,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20 00:00:00,Western,132,Italy,NaN,Sergio Leone,15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21 00:00:00,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05 00:00:00,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,1864182,213.152,7.4

### Remove unwanted punctuation and special characters (: , . · ¹) from the 'Original_title' column using regex

In [1066]:
df["Original_title"] = df["Original_title"].str.replace(r"[:,.·¹]",'', regex = True)
df.head()

,Imbd_title_id,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10 00:00:00,Drama,142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23 00:00:00,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,1005455211,2.241.615,9
3,tt0071562,The Godfather Part II,1975-09-25 00:00:00,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28 00:00:00,"Crime, Drama",,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"

### Replace specific incorrect or misspelled movie titles in the 'Original_title' column using a custom dictionary

In [1067]:
replace_dict = {
    'Se7en': 'Seven',
    "Le fabuleux destin d'AmÃ©lie Poulain": "Le fabuleux destin damÃ©lie Poulain",
    'Per qualche dollaro in piA': 'Per qualche dollaro in pia'

} 
df['Original_title'] = df['Original_title'].replace(replace_dict)

### Fix character encoding issues in 'Original_title' by replacing 'Ã' with 'A' and '©' with 'c'

In [1068]:
df['Original_title'] = (df['Original_title']
.str.replace('Ã', 'A', regex = False)
.str.replace('©', 'c', regex = False))

### Parse and clean various date formats in 'Release_year', convert unparseable values to NaT, and drop rows with invalid dates

In [1069]:
from dateutil import parser
def clean_date(value):
    try:
        # Try to parse the date
        return parser.parse(value, fuzzy=True).date()
    except:
        # Return NaT (Not a Time) if invalid
        return pd.NaT

df['Release_year'] = df['Release_year'].astype(str).apply(clean_date)

# See rows where date could not be parsed
invalid_dates = df[df['Release_year'].isna()]

# Drop invalid rows if needed
df = df.dropna(subset=['Release_year'])
df.head(50)

,Imbd_title_id,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,1005455211,2.241.615,9
3,tt0071562,The Godfather Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"
5,tt0167260,The Lord of the Rings The Return of the King,2004-02-22,"Action, Adventure, Drama",201,New Zealand,PG-13,Peter Jackson,1142271098,1.604.280,8.9
6,tt0108052,Schindler's List,1994-03-11,"Biography, Drama, History",Nan,USA,R,Steven Spielberg,322287794,1.183.248,8.9
7,tt0050083,12 Angry Men,1957-09-04,"Crime, Drama",96,USA,Not Rated,Sidney Lumet,576,668.473,8.9
8,tt1375666,Inception,2010-09-24,"Action, Adventure, Sci-Fi",148,USA,PG-13,Christopher Nolan,869784991,2.002.816,8..8
9,tt0137523,Fight Club,1999-10-29,Drama,Inf,UK,R,David Fincher,101218804,1.807.440,8.8
10,tt0109830,Forrest Gump,1994-10-06,"Drama, Romance",142,USA,PG-13,Robert Zemeckis,678229452,1.755.490,08:08:00
11,tt0120737,The Lord of the Rings The Fellowship of the Ring,2002-01-18,"Action, Adventure, Drama",178c,New Zesland,PG-13,Peter Jackson,887934303,1.619.920,8.8
12,tt0060196,Il buono il brutto il cattivo,1966-12-23,Western,161,Italy,Approved,Sergio Leone,25252481,672.499,8.8
14,tt0133093,The Matrix,1999-05-07,"Action, Sci-Fi",NaN,USA,R,"Lana Wachowski, Lilly Wachowski",465718588,1.632.315,8.7
15,tt0167261,The Lord of the Rings The Two Towers,2003-01-16,"Action, Adventure, Drama",179,New Zeland,PG-13,Peter Jackson,951227416,1.449.778,8.7.
16,tt0080684,Star Wars Episode V - The Empire Strikes Back,1980-09-19,"Action, Adventure, Fantasy",Not Applicable,USA,PG,Irvin Kershner,549265501,1.132.073,"8,7e-0"
17,tt0099685,Goodfellas,1990-09-20,"Biography, Crime, Drama",146,USA,R,Martin Scorsese,46879633,991.505,8.7
18,tt0073486,One Flew Over the Cuckoo's Nest,1976-11-18,Drama,-,USA,R,Milos Forman,108997629,891.071,8.7
19,tt0816692,Interstellar,2014-11-06,"Adventure, Drama, Sci-Fi",169,USA,PG-13,Christopher Nolan,696742056,1.449.256,8.6
20,tt0114369,Seven,1995-12-15,"Crime, Drama, Mystery",127,USA,R,David Fincher,327333559,1.402.015,8.6
21,tt0102926,The Silence of the Lambs,1991-03-05,"Crime, Drama, Thriller",118,USA,R,Jonathan Demme,272753884,1.234.134,"8,6"
22,tt0076759,Star Wars,1977-10-20,"Action, Adventure, Fantasy",121,USA,PG,George Lucas,775768912,1.204.107,8.6
23,tt0120815,Saving Private Ryan,1998-10-30,"Drama, War",169,USA,R,Steven Spielberg,482349603,1.203.825,8.6
24,tt0120689,The Green Mile,2000-10-03,"Crime, Drama, Fantasy",189,US.,R,Frank Darabont,286801374,1.112.336,8.6
25,tt0317248,Cidade de Deus,2003-05-09,"Crime, Drama",130,Brazil,R,"Fernando Meirelles, KÃ¡tia Lund",30680793,685.856,8.6
26,tt0245429,Sen to Chihiro no kamikakushi,2003-04-18,"Animation, Adventure, Family",125,Japan,PG,Hayao Miyazaki,355467056,626.693,8.6
27,tt0118799,La vita B9 bella,1997-12-20,"Comedy, Drama, Romance",116,Italy1,NaN,Roberto Benigni,230098753,605.648,8.6
28,tt6751668,Gisaengchung,2019-11-07,"Comedy, Drama, Thriller",132,South Korea,NaN,Bong Joon Ho,257604912,470.931,8.6
29,tt0038650,It's a Wonderful Life,1948-03-11,"Drama, Family, Fantasy",130,USA,PG,Frank Capra,6130720,388.31,8.6
30,tt0047478,Shichinin no samurai,1955-08-19,"Action, Adventure, Drama",207,Japan,Unrated,Akira Kurosawa,322773,307.958,8.6
31,tt0172495,Gladiator,2000-05-19,"Action, Adventure, Drama",155,USA,R,Ridley Scott,465361176,1.308.193,8.5
32,tt0407887,The Departed,2006-10-27,"Crime, Drama, Thriller",151,USA,R,Martin Scorsese,291465034,1.159.703,8.5
33,tt0482571,The Prestige,2006-12-22,"Drama, Mystery, Sci-Fi",130,UK,PG-13,Christopher Nolan,109676311,1.155.723,8.5
34,tt0088763,Back to the Future,1985-10-18,"Adventure, Comedy, Sci-Fi",116,USA,PG,Robert Zemeckis,388774684,1.027.330,8.5
35,tt0120586,American History X,1999-08-27,Drama,119,USA,R,Tony Kaye,23875127,1.014.218,8.5
36,tt0110413,LAcon,1995-04-07,"Action, Crime, Drama",110,France,NaN,Luc Besson,19552639,1.007.598,8.5
37,tt0103064,Terminator 2 Judgment Day,1991-12-19,"Action, Sci-Fi",137,USA,R,James Cameron,520884847,974.97,8.4
38,tt0114814,The Usual Suspects,1995-11-30,"Crime, Mystery, Thriller",106,USA,R,Bryan Singer,23341568,968.947,8.4
39,tt0110357,The Lion King,1994-11-25,"Animation, Adventure, Drama",88,USA,G,"Roger Allers, Rob Minkoff",968511805,917.248,8.4
40,tt7286456,Joker,2019-10-03,"Crime, Drama, Thriller",122,USA,NaN,Todd Phillips,1074251311,855.097,8.4
41,tt1675434,Intouchables,2012-02-24,"Biography, Comedy, Drama",112,France,NaN,"Olivier Nakache, Ã‰ric Toledano",426588510,736.691,8.4
42,tt0253474,The Pianist,2002-10-25,"Biography, Drama, Music",150,UK,R,Roman Polanski,120072577,707.942,8.4
43,tt2582802,Whiplash,2015-02-12,"Drama, Music",106,USA,R,Damien Chazelle,48983260,690.732,8.4
44,tt0054215,Psycho,1960-10-28,"Horror, Mystery, Thriller",109,USA,R,Alfred Hitchcock,32008644,586.765,8.3
45,tt0034583,Casablanca,1946-11-21,"Drama, Romance, War",102,USA,PG,Michael Curtiz,4374761,509.953,8.3
46,tt0064116,C'era una volta il West,1968-12-21,Western,165,Italy,PG-13,Sergio Leone,112911,295.22,8.3
47,tt0095327,Hotaru no haka,2015-10-11,"Animation, Drama, War",89,Japan,NaN,Isao Takahata,516962,225.438,8.3
48,tt0095765,Nuovo Cinema Paradiso,1988-11-17,Drama,155,Italy,NaN,Giuseppe Tornatore,13826605,223.05,8.3
49,tt0027977,Modern Times,1937-03-12,"Comedy, Drama, Family",87,USA,G,Charles Chaplin,457688,211.25,8.3
50,tt1345836,The Dark Knight Rises,2012-08-29,"Action, Adventure",164,UK,PG-13,Christopher Nolan,1081133191,1.480.582,8.3

### Convert all values in the 'Genre' column to lowercase and remove leading/trailing whitespace

In [1070]:
df['Genre'] = df['Genre'].str.lower().str.strip()
print(df['Genre'].head(10))

0                        drama
1                 crime, drama
2         action, crime, drama
3                 crime, drama
4                 crime, drama
5     action, adventure, drama
6    biography, drama, history
7                 crime, drama
8    action, adventure, sci-fi
9                        drama
Name: Genre, dtype: object

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\1789608919.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Genre'] = df['Genre'].str.lower().str.strip()

### Split the 'Genre' column into lists of genres using comma as the separator, allowing for optional spaces

In [1071]:
df['Genre'] = df['Genre'].str.split(r',\s*')
df

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\728497970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Genre'] = df['Genre'].str.split(r',\s*')

,Imbd_title_id,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,[drama],142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972-09-21,"[crime, drama]",175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"[action, crime, drama]",152,US,PG-13,Christopher Nolan,1005455211,2.241.615,9
3,tt0071562,The Godfather Part II,1975-09-25,"[crime, drama]",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"[crime, drama]",,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"[comedy, crime, drama]",129,USA,PG,George Roy Hill,156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"[adventure, drama, thriller]",149,West Germany,R,Wolfgang Petersen,11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piA,1965-12-20,[western],132,Italy,NaN,Sergio Leone,15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,[drama],123,Iran,PG-13,Asghar Farhadi,22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"[comedy, musical, romance]",103,USA,NaN,Stanley Donen,1864182,213.152,7.4

### Explode the lists in the 'Genre' column so each genre appears in its own row, then count the frequency of each genre

In [1072]:
df.explode('Genre')
print(df.explode('Genre')['Genre'].value_counts())

Genre
drama        65
adventure    29
action       20
crime        19
comedy       14
thriller     13
mystery      12
sci-fi       12
animation     9
war           8
romance       8
biography     7
fantasy       6
family        5
western       4
history       3
horror        3
music         2
film-noir     1
musical       1
Name: count, dtype: int64

In [1073]:
df['Duration'].astype(str)

0      142
1      175
2      152
3      220
4
      ...
96     129
97     149
98     132
99     123
100    103
Name: Duration, Length: 98, dtype: object

### Strip whitespace from 'Duration' values and replace specific invalid entries (e.g., 'Inf', 'Not Applicable', empty strings) with cleaned values or '0'

In [1074]:
df['Duration'].str.strip()
replac_dict = {
    'Inf': '',
    '178c': '178',
    'Not Applicable': '',
    '-': '',
    '': '0'
}
df['Duration'] = df['Duration'].replace(replac_dict)

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\4035363149.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration'] = df['Duration'].replace(replac_dict)

In [1075]:
df['Duration'] = df['Duration'].fillna(0)

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\819837788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration'] = df['Duration'].fillna(0)

In [1076]:
df['Duration']= df['Duration'].dropna()

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\3802003075.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration']= df['Duration'].dropna()

In [1077]:
df['Duration'] = df['Duration'].astype(str).str.strip()

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\4131026160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration'] = df['Duration'].astype(str).str.strip()

In [1078]:
df['Duration'] = df['Duration'].replace(['', 'Nan'], '0')
df.head(20)

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\805114716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration'] = df['Duration'].replace(['', 'Nan'], '0')

,Imbd_title_id,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,[drama],142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972-09-21,"[crime, drama]",175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"[action, crime, drama]",152,US,PG-13,Christopher Nolan,1005455211,2.241.615,9
3,tt0071562,The Godfather Part II,1975-09-25,"[crime, drama]",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"[crime, drama]",0,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"
5,tt0167260,The Lord of the Rings The Return of the King,2004-02-22,"[action, adventure, drama]",201,New Zealand,PG-13,Peter Jackson,1142271098,1.604.280,8.9
6,tt0108052,Schindler's List,1994-03-11,"[biography, drama, history]",0,USA,R,Steven Spielberg,322287794,1.183.248,8.9
7,tt0050083,12 Angry Men,1957-09-04,"[crime, drama]",96,USA,Not Rated,Sidney Lumet,576,668.473,8.9
8,tt1375666,Inception,2010-09-24,"[action, adventure, sci-fi]",148,USA,PG-13,Christopher Nolan,869784991,2.002.816,8..8
9,tt0137523,Fight Club,1999-10-29,[drama],0,UK,R,David Fincher,101218804,1.807.440,8.8
10,tt0109830,Forrest Gump,1994-10-06,"[drama, romance]",142,USA,PG-13,Robert Zemeckis,678229452,1.755.490,08:08:00
11,tt0120737,The Lord of the Rings The Fellowship of the Ring,2002-01-18,"[action, adventure, drama]",178,New Zesland,PG-13,Peter Jackson,887934303,1.619.920,8.8
12,tt0060196,Il buono il brutto il cattivo,1966-12-23,[western],161,Italy,Approved,Sergio Leone,25252481,672.499,8.8
14,tt0133093,The Matrix,1999-05-07,"[action, sci-fi]",0,USA,R,"Lana Wachowski, Lilly Wachowski",465718588,1.632.315,8.7
15,tt0167261,The Lord of the Rings The Two Towers,2003-01-16,"[action, adventure, drama]",179,New Zeland,PG-13,Peter Jackson,951227416,1.449.778,8.7.
16,tt0080684,Star Wars Episode V - The Empire Strikes Back,1980-09-19,"[action, adventure, fantasy]",0,USA,PG,Irvin Kershner,549265501,1.132.073,"8,7e-0"
17,tt0099685,Goodfellas,1990-09-20,"[biography, crime, drama]",146,USA,R,Martin Scorsese,46879633,991.505,8.7
18,tt0073486,One Flew Over the Cuckoo's Nest,1976-11-18,[drama],0,USA,R,Milos Forman,108997629,891.071,8.7
19,tt0816692,Interstellar,2014-11-06,"[adventure, drama, sci-fi]",169,USA,PG-13,Christopher Nolan,696742056,1.449.256,8.6
20,tt0114369,Seven,1995-12-15,"[crime, drama, mystery]",127,USA,R,David Fincher,327333559,1.402.015,8.6

### Convert 'Duration' to numeric, calculate the mean of non-zero durations, and replace 0 values with the calculated mean

In [1079]:
df['Duration'] = pd.to_numeric(df['Duration'])
duration_mean = round(df[df['Duration'] != 0]['Duration'].mean())
duration_mean
df['Duration'] = df['Duration'].replace(0, duration_mean)
df.head(20)

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\2092975486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration'] = pd.to_numeric(df['Duration'])
C:\Users\haris\AppData\Local\Temp\ipykernel_5604\2092975486.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration'] = df['Duration'].replace(0, duration_mean)

,Imbd_title_id,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,[drama],142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972-09-21,"[crime, drama]",175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"[action, crime, drama]",152,US,PG-13,Christopher Nolan,1005455211,2.241.615,9
3,tt0071562,The Godfather Part II,1975-09-25,"[crime, drama]",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"[crime, drama]",135,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"
5,tt0167260,The Lord of the Rings The Return of the King,2004-02-22,"[action, adventure, drama]",201,New Zealand,PG-13,Peter Jackson,1142271098,1.604.280,8.9
6,tt0108052,Schindler's List,1994-03-11,"[biography, drama, history]",135,USA,R,Steven Spielberg,322287794,1.183.248,8.9
7,tt0050083,12 Angry Men,1957-09-04,"[crime, drama]",96,USA,Not Rated,Sidney Lumet,576,668.473,8.9
8,tt1375666,Inception,2010-09-24,"[action, adventure, sci-fi]",148,USA,PG-13,Christopher Nolan,869784991,2.002.816,8..8
9,tt0137523,Fight Club,1999-10-29,[drama],135,UK,R,David Fincher,101218804,1.807.440,8.8
10,tt0109830,Forrest Gump,1994-10-06,"[drama, romance]",142,USA,PG-13,Robert Zemeckis,678229452,1.755.490,08:08:00
11,tt0120737,The Lord of the Rings The Fellowship of the Ring,2002-01-18,"[action, adventure, drama]",178,New Zesland,PG-13,Peter Jackson,887934303,1.619.920,8.8
12,tt0060196,Il buono il brutto il cattivo,1966-12-23,[western],161,Italy,Approved,Sergio Leone,25252481,672.499,8.8
14,tt0133093,The Matrix,1999-05-07,"[action, sci-fi]",135,USA,R,"Lana Wachowski, Lilly Wachowski",465718588,1.632.315,8.7
15,tt0167261,The Lord of the Rings The Two Towers,2003-01-16,"[action, adventure, drama]",179,New Zeland,PG-13,Peter Jackson,951227416,1.449.778,8.7.
16,tt0080684,Star Wars Episode V - The Empire Strikes Back,1980-09-19,"[action, adventure, fantasy]",135,USA,PG,Irvin Kershner,549265501,1.132.073,"8,7e-0"
17,tt0099685,Goodfellas,1990-09-20,"[biography, crime, drama]",146,USA,R,Martin Scorsese,46879633,991.505,8.7
18,tt0073486,One Flew Over the Cuckoo's Nest,1976-11-18,[drama],135,USA,R,Milos Forman,108997629,891.071,8.7
19,tt0816692,Interstellar,2014-11-06,"[adventure, drama, sci-fi]",169,USA,PG-13,Christopher Nolan,696742056,1.449.256,8.6
20,tt0114369,Seven,1995-12-15,"[crime, drama, mystery]",127,USA,R,David Fincher,327333559,1.402.015,8.6

### Remove trailing periods from 'Country' values and correct misspelled or inconsistent country names using a replacement dictionary

In [1080]:
df['Country'] = df['Country'].str.strip('.')
country_dict = {
    'US': 'USA',
    'New Zesland': 'New Zealand',
    'New Zeland': 'New Zealand',
    'Italy1': 'Italy'
}
df['Country'] = df['Country'].replace(country_dict)

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\2518235350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country'] = df['Country'].str.strip('.')
C:\Users\haris\AppData\Local\Temp\ipykernel_5604\2518235350.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country'] = df['Country'].replace(country_dict)

### Clean 'Content_rating' by stripping whitespace, filling NaN values with 'Unknown', and standardizing inconsistent ratings using a replacement dictionary

In [1081]:
df['Content_rating'].dropna()
df['Content_rating'].str.strip()
df['Content_rating'].isna().sum()

cr_dict = {
    'Unrated': 'Not Rated',
    '#N/A': 'Unknown',
    '': 'Unknown',            
    'Approved': 'Not Rated',
   }
df['Content_rating'] = df['Content_rating'].fillna('Unknown')
df['Content_rating'] = df['Content_rating'].replace(cr_dict)
print(df['Content_rating'].value_counts())
df.head()

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\178565697.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Content_rating'] = df['Content_rating'].fillna('Unknown')
C:\Users\haris\AppData\Local\Temp\ipykernel_5604\178565697.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Content_rating'] = df['Content_rating'].replace(cr_dict)

Content_rating
R            43
Unknown      23
PG-13        12
PG           11
G             6
Not Rated     3
Name: count, dtype: int64

,Imbd_title_id,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,[drama],142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972-09-21,"[crime, drama]",175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"[action, crime, drama]",152,USA,PG-13,Christopher Nolan,1005455211,2.241.615,9
3,tt0071562,The Godfather Part II,1975-09-25,"[crime, drama]",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"[crime, drama]",135,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"

## Director Column

In [1082]:
df['Director'] = df['Director'].str.lower().str.strip()
# df['Director'].head(30)

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\859213844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Director'] = df['Director'].str.lower().str.strip()

### Convert 'Director' values to string, fix specific encoding issues using a replacement dictionary, and capitalize the first letter of each entry

In [1083]:
df['Director'] = df['Director'].astype(str)
director_dict = {
    'fernando meirelles, kã¡tia lund': 'fernando meirelles, katia lund',
    'olivier nakache, ã‰ric toledano': 'olivier nakache, aric toledano'
}
df['Director'] = df['Director'].replace(director_dict)
df['Director'] = df['Director'].str.capitalize()
df

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\2714925196.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Director'] = df['Director'].astype(str)
C:\Users\haris\AppData\Local\Temp\ipykernel_5604\2714925196.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Director'] = df['Director'].replace(director_dict)
C:\Users\haris\AppData\Local\Temp\ipykernel_5604\2714925196.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Director'] = df['Director'].str.capitalize()

,Imbd_title_id,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,[drama],142,USA,R,Frank darabont,28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972-09-21,"[crime, drama]",175,USA,R,Francis ford coppola,246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"[action, crime, drama]",152,USA,PG-13,Christopher nolan,1005455211,2.241.615,9
3,tt0071562,The Godfather Part II,1975-09-25,"[crime, drama]",220,USA,R,Francis ford coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"[crime, drama]",135,USA,R,Quentin tarantino,222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"[comedy, crime, drama]",129,USA,PG,George roy hill,156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"[adventure, drama, thriller]",149,West Germany,R,Wolfgang petersen,11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piA,1965-12-20,[western],132,Italy,Unknown,Sergio leone,15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,[drama],123,Iran,PG-13,Asghar farhadi,22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"[comedy, musical, romance]",103,USA,Unknown,Stanley donen,1864182,213.152,7.4

### Clean 'Income' by removing unwanted characters and converting to numeric, then calculate and round the mean income

In [1084]:
df['Income'] = pd.to_numeric(df['Income'].astype(str).str.replace('o', '0').str.replace('$ ', '').str.replace(',', ''))
round(df['Income'].mean())

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\1772631460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Income'] = pd.to_numeric(df['Income'].astype(str).str.replace('o', '0').str.replace('$ ', '').str.replace(',', ''))

304266166

### Remove dot separators from 'Votes' and convert the column to numeric format

In [1085]:
df['Votes'] = pd.to_numeric(df['Votes'].astype(str).str.replace('.', ''))

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\2683323841.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Votes'] = pd.to_numeric(df['Votes'].astype(str).str.replace('.', ''))

### Clean 'Score' by fixing formatting issues (e.g., commas, extra symbols, malformed decimals), then convert to numeric for analysis

In [1142]:
df['Score'] = df['Score'].astype(str).str.strip()

df['Score'] = pd.to_numeric(df['Score'].str.replace(',', '.').str.replace('f', '').str.replace('e-', '').str.replace(':', '').str.replace('0', '').str.replace('..', '.0').str.replace('88', '8.8').str.rstrip('.'))

df['Score'].head(23)

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\2780909009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Score'] = df['Score'].astype(str).str.strip()
C:\Users\haris\AppData\Local\Temp\ipykernel_5604\2780909009.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Score'] = pd.to_numeric(df['Score'].str.replace(',', '.').str.replace('f', '').str.replace('e-', '').str.replace(':', '').str.replace('0', '').str.replace('..', '.0').str.replace('88', '8.8').str.rstrip('.'))

0     9.3
1     9.2
2     9.0
3     9.0
4     8.9
5     8.9
6     8.9
7     8.9
8     8.8
9     8.8
10    8.8
11    8.8
12    8.8
14    8.7
15    8.7
16    8.7
17    8.7
18    8.7
19    8.6
20    8.6
21    8.6
22    8.6
23    8.6
Name: Score, dtype: float64

### Save the clened dataset into new file

In [1145]:
df.to_excel("cleaned_IMDB.xlsx", index=False)

In [ ]:
data = pd.read_excel('cleaned_IMDB.xlsx')

# print(df['Original_title'].isnull().sum())

0

In [1165]:
df['Original_title'] = df['Original_title'].dropna()
df['Original_title'] = df['Original_title'].fillna('Unknown Title')
df

C:\Users\haris\AppData\Local\Temp\ipykernel_5604\472135719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Original_title'] = df['Original_title'].dropna()
C:\Users\haris\AppData\Local\Temp\ipykernel_5604\472135719.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Original_title'] = df['Original_title'].fillna('Unknown Title')

,Imbd_title_id,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,[drama],142,USA,R,Frank darabont,28815245,2278845,9.3
1,tt0068646,The Godfather,1972-09-21,"[crime, drama]",175,USA,R,Francis ford coppola,246120974,1572674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"[action, crime, drama]",152,USA,PG-13,Christopher nolan,1005455211,2241615,9.0
3,tt0071562,The Godfather Part II,1975-09-25,"[crime, drama]",220,USA,R,Francis ford coppola,408035783,1098714,9.0
4,tt0110912,Pulp Fiction,1994-10-28,"[crime, drama]",135,USA,R,Quentin tarantino,222831817,1780147,8.9
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"[comedy, crime, drama]",129,USA,PG,George roy hill,156000000,236285,7.5
97,tt0082096,Das Boot,1982-03-18,"[adventure, drama, thriller]",149,West Germany,R,Wolfgang petersen,11487676,226427,7.5
98,tt0059578,Per qualche dollaro in piA,1965-12-20,[western],132,Italy,Unknown,Sergio leone,15000000,226039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,[drama],123,Iran,PG-13,Asghar farhadi,22926076,214165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"[comedy, musical, romance]",103,USA,Unknown,Stanley donen,1864182,213152,7.4

In [1167]:
df.to_excel("cleaned_IMDB.xlsx", index=False)

data = pd.read_excel('cleaned_IMDB.xlsx')
title_dict = {
    'WALLÂE': 'WALLAE',
    "Singin' in the Rain": "Singin in the Rain",
    'Per qualche dollaro in piA': 'Per qualche dollaro in pia'
}
data['Original_title'] = data['Original_title'].replace(title_dict)
data

In [1187]:
df.to_excel("cleaned_IMDB.xlsx", index=False)